---
interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props;
---

<section>
    <div class="content-hero">
        <h1 class="title">{title}</h1>
        <p class="description">{description}</p>
        <div class="content-buttoms">
            
        </div>
    </div>
</section>

<style>
    .content-hero {
        @apply py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12;
    }
    .title {
        @apply mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl;
    }
    .description {
        @apply mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48;
    }

    .content-buttoms {
        @apply flex flex-col mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4;
    }
</style>

</style>