---
import Card from '@components/Card.astro';
import RootLayout from '@layouts/RootLayout.astro';
import {PATHS_TEST} from '@utils/constants/Rutas';
---

<RootLayout title='About' >
        <h1 class="title">About page</h1>
        <div class="content-card">
            {
                PATHS_TEST.map(({title , body, href}, index) => (
                    <Card title={title} href={href} body={body} />
                ))
            }
        </div>
</RootLayout>

<style>
	.title {
		text-align: center;
	}
	.content-card {
		display: flex;
		justify-content: center;
		align-items: center;
	}
</style>