---
import RootLayout from '@layouts/RootLayout.astro';
import Card from '@components/Card.astro';
import {PATHS_TEST} from '@utils/constants/Rutas';

---

<RootLayout title="Bienvenido.">
	<h1 class="title">Index Page</h1>
	<div class="content-card">
		{
			PATHS_TEST.map(({title , body, href}, index) => (
				<Card title={title} href={href} body={body} />
			))
		}
	</div>
</RootLayout>

<style>
	.title {
        @apply text-3xl my-5 text-center
	}
	.content-card {
        @apply flex justify-center items-center
	}
</style>
